:root {
  --yellow-50: #fff9f0;
  --yellow-100: #ffeccf;
  --yellow-200: #ffe3b8;
  --yellow-300: #ffd698;
  --yellow-400: #ffce84;
  --yellow-500: #ffc265;
  --yellow-600: #e8b15c;
  --yellow-700: #b58a48;
  --yellow-800: #8c6b38;
  --yellow-900: #6b512a;
  --green-50: #e8f6f5;
  --green-100: #b9e3df;
  --green-200: #97d6d0;
  --green-300: #68c3bb;
  --green-400: #4ab7ad;
  --green-500: #1da599;
  --green-600: #1a968b;
  --green-700: #15756d;
  --green-800: #105b54;
  --green-900: #0c4540;
  --font-heading: "Kufam";
  --font-typography: "Nunito";
  --color-heading: #4a4a4a;
  --color-typography: #454545;
  --cards-right: #c1fffa;
  --cards-text: #1da599;

  /* Widths */
  --width-1240: 1240px;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.font-nunito {
  font-family: var(--font-typography);
}

.font-kufam {
  font-family: var(--font-heading);
}

.text-heading {
  color: var(--color-heading);
}

.text-typography {
  color: var(--color-typography);
}

.bg-yellow-primary {
  background-color: var(--yellow-500);
}

.ukuran-45px {
  font-size: 45px;
}

.button-secondary {
  padding: 26px 48px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: var(--color-typography);
  font-weight: 600;
  cursor: pointer;
  max-width: fit-content;
}

.button-secondary-outline {
  border: 2px solid var(--yellow-500);
  color: var(--yellow-500);
  background-color: transparent;
  padding: 26px 48px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  max-width: fit-content;
}

.button-secondary:hover {
  background-color: var(--yellow-600);
}

.button-secondary-outline:hover {
  background-color: var(--yellow-500);
  color: var(--color-typography);
}

.navbar {
  width: 100%;
  max-width: var(--width-1240);
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 80px;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 44px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu > li > a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-typography);
}

.nav-menu-active {
  font-weight: bold;
  color: var(--yellow-500) !important;
}

/* Hero styles */
#hero {
  display: flex;
  max-width: var(--width-1240);
  margin: auto;
  margin-top: 78px;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-text-top {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero-text-top h1 {
  font-size: 54px;
  color: var(--color-heading);
  line-height: 140%;
}

.hero-text-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-text-bottom p {
  font-size: 24px;
  max-width: 645px;
  font-weight: 600;
  color: var(--color-typography);
}

.badge {
  max-width: fit-content;
  padding: 14px 40px;
  background-color: var(--green-100);
  color: var(--green-500);
  font-size: 24px;
  border-radius: 20px;
}

.quote-card {
  width: 100%;
  max-width: 230px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 2px solid var(--yellow-500);
  padding: 6px;
  position: absolute;
  z-index: 20;
  background-color: white;
}

.quote-card-top {
  top: 6%;
  right: 4%;
}

.quote-card-bottom {
  bottom: 0%;
  left: 0%;
}

.quote {
  font-size: 12px;
  color: var(--color-typography);
}

.card-text span {
  font-size: 12px;
  color: var(--color-heading);
  font-weight: 600;
}

/* Right hero styles */
.right-hero {
  width: 100%;
  max-width: 548px;
  height: 558px;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: start;
}

.green-block {
  width: 533px;
  height: 245px;
  border-radius: 10px;
  background-color: var(--green-500);
  align-self: flex-end;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-of-mecca {
  width: 406px;
  height: 507px;
  border: 1px solid var(--yellow-500);
  border-radius: 10px;
  background-image: url("../assets/images/haidan-IOBIgKmjm1Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  margin-right: 48px;
}

.play-button {
  width: 87px;
  height: 87px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.play-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

/* Packages Style */
#packages {
  max-width: var(--width-1240);
  margin: auto;
  margin-top: 78px;
  margin-bottom: 50px;
}

.pack-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 822px;
  margin: auto;
}

.pack-head h1 {
  font-size: 54px;
  color: var(--color-heading);
  line-height: 140%;
}

.pack-head span {
  font-size: 24px;
  color: var(--color-typography);
  line-height: 150%;
  max-width: 660px;
  margin: auto;
  margin-bottom: 72px;
}

.all-packages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 78px;
  height: 1214px;
  max-width: var(--width-1240);
  margin: auto;
}

.cards {
  width: 360px;
  height: 550px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.055);
  box-sizing: border-box;
}

.cards-cont {
  height: 550px;
  max-height: 494px;
  margin: 26px 0px 28px 26px;
}

.cards-img {
  width: 312px;
  height: 238px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.pack-top {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-family: var(--font-typography);
  color: var(--color-typography);
}

.top-p {
  color: var(--yellow-500);
  font-weight: 600;
}

.top-span {
  background-color: var(--cards-right);
  border-radius: 20px;
  padding: 10px 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--cards-text);
  font-weight: 600;
}

.pack-bottom {
  margin-top: 20px;
}

.pack-bottom h3 {
  color: var(--color-typography);
  margin-bottom: 10px;
  max-width: 494px;
}

.color-person {
  color: var(--cards-text);
}

.icon-pack {
  display: flex;
  width: 206px;
  height: 36px;
  margin: 20px 0px;
  gap: 20px;
}

.view-detail {
  width: 125px;
  height: 40px;
  border: 2px solid var(--yellow-500);
  color: var(--yellow-500);
  background-color: transparent;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.view-detail:hover {
  background-color: var(--yellow-500);
  color: var(--color-typography);
}

.soon-pack {
  font-family: var(--font-typography);
  color: var(--cards-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;
}

/* Airways Section style */
/* bagian section */
#airways {
  display: flex;
  gap: 2rem;
  width: 1515px;
  height: 239px;
  justify-content: center;
  align-items: center;
}

/* text kontainer */
.text {
  display: flex;
  flex-direction: column;
  width: 254px;
}

/* wrapper teks */
.wrap {
  width: 295px;
  max-width: fit-content;
}

/* teks judul airways accomidation */
.text h1 {
  width: 254px;
  font-size: 32;
  font-weight: bold;
  font-family: var(--font-heading);
  text-transform: capitalize;
  color: var(--color-heading);
  margin-bottom: 10px;
  line-height: 140%;
}

.text p {
  width: 254px;
  font-family: var(--font-typography);
  color: var(--color-typography);
  font-size: 24;
  font-weight: 650;
  line-height: 150%;
}

/* ratting */
.container {
  width: 254px;
  height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: start;
}

.button {
  width: 165px;
  width: fit-content;
  height: 47px;
  background-color: var(--cards-right);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--cards-text);
  font-weight: 530;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.options {
  width: 1472px;
  height: 77px;
  display: flex;
  gap: 50px;
  margin-right: 80px;
}

.plane-img {
  width: 226px;
  height: 77px;
}
