:root {
  --yellow-50: #fff9f0;
  --yellow-100: #ffeccf;
  --yellow-200: #ffe3b8;
  --yellow-300: #ffd698;
  --yellow-400: #ffce84;
  --yellow-500: #ffc265;
  --yellow-600: #e8b15c;
  --yellow-700: #b58a48;
  --yellow-800: #8c6b38;
  --yellow-900: #6b512a;
  --green-50: #e8f6f5;
  --green-100: #b9e3df;
  --green-200: #97d6d0;
  --green-300: #68c3bb;
  --green-400: #4ab7ad;
  --green-500: #1da599;
  --green-600: #1a968b;
  --green-700: #15756d;
  --green-800: #105b54;
  --green-900: #0c4540;
  --facility-container: #f3fffe;
  --logo-facility: #c1fffa;
  --font-heading: "Kufam";
  --font-typography: "Nunito";
  --color-heading: #4a4a4a;
  --color-typography: #454545;
  --cards-right: #c1fffa;
  --cards-text: #1da599;

  /* Widths */
  --width-1240: 1240px;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  overflow: hidden;
}

.font-nunito {
  font-family: var(--font-typography);
}

.font-kufam {
  font-family: var(--font-heading);
}

.text-heading {
  color: var(--color-heading);
}

.text-typography {
  color: var(--color-typography);
}

.bg-yellow-primary {
  background-color: var(--yellow-500);
}

.ukuran-45px {
  font-size: 45px;
}

.button-secondary {
  padding: 26px 48px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: var(--color-typography);
  font-weight: 600;
  cursor: pointer;
  max-width: fit-content;
}

.button-secondary-outline {
  border: 2px solid var(--yellow-500);
  color: var(--yellow-500);
  background-color: transparent;
  padding: 26px 48px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  max-width: fit-content;
}

.button-secondary:hover {
  background-color: var(--yellow-600);
}

.button-secondary-outline:hover {
  background-color: var(--yellow-500);
  color: var(--color-typography);
}

.navbar {
  width: 100%;
  max-width: var(--width-1240);
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 80px;
  align-items: center;
}

.navbar img {
  width: 143px;
  height: 100px;
  background-color: transparent;
}

.nav-menu {
  display: flex;
  gap: 44px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu>li>a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-typography);
}

.nav-menu-active {
  font-weight: bold;
  color: var(--yellow-500) !important;
}

/* Hero styles */
#hero {
  display: flex;
  max-width: var(--width-1240);
  margin: auto;
  margin-top: 78px;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-text-top {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero-text-top h1 {
  font-size: 54px;
  color: var(--color-heading);
  line-height: 140%;
}

.hero-text-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-text-bottom p {
  font-size: 24px;
  max-width: 645px;
  font-weight: 600;
  color: var(--color-typography);
}

.badge {
  max-width: fit-content;
  padding: 14px 40px;
  background-color: var(--green-100);
  color: var(--green-500);
  font-size: 24px;
  border-radius: 20px;
}

.quote-card {
  width: 100%;
  max-width: 230px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 2px solid var(--yellow-500);
  padding: 6px;
  position: absolute;
  z-index: 20;
  background-color: white;
}

.quote-card-top {
  top: 6%;
  right: 4%;
}

.quote-card-bottom {
  bottom: 0%;
  left: 0%;
}

.quote {
  font-size: 12px;
  color: var(--color-typography);
}

.card-text span {
  font-size: 12px;
  color: var(--color-heading);
  font-weight: 600;
}

/* Right hero styles */
.right-hero {
  width: 100%;
  max-width: 548px;
  height: 558px;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: start;
}

.green-block {
  width: 533px;
  height: 245px;
  border-radius: 10px;
  background-color: var(--green-500);
  align-self: flex-end;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-of-mecca {
  width: 406px;
  height: 507px;
  border: 1px solid var(--yellow-500);
  border-radius: 10px;
  background-image: url('../assets/images/haidan-IOBIgKmjm1Y-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  margin-right: 48px;
}

.play-button {
  width: 87px;
  height: 87px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.play-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

/* codingan sabrina */

#facility {
  width: 100%;
  height: 662px;
  background-color: var(--facility-container);
  display: flex;
}

.facilities-container {
  width: 1239px;
  height: 482px;
  margin: auto;
}

.facilities-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.facilities-text h1 {
  font-size: 54px;
  color: var(--color-heading);
}

.facilities-text p {
  font-size: 24px;
  text-align: center;
  color: var(--color-typography);
  font-weight: 600;
  /*semi bold*/
}

/* codingan yanti */

.card-container {
  height: 274px;
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  width: 282px;
  height: 112px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
}

.card-wrapper {
  display: flex;
  width: 242px;
  height: 72px;
  align-items: start;
  justify-content: center;
  margin: 20px auto;
  gap: 15px;
}

.logo {
  width: 36px;
  height: 36px;
  background-color: var(--logo-facility);
  border-radius: 10px;
}

.logo svg {
  margin-top: 5px;
  margin-left: 5px;
}

.health-logo {
  width: 36px;
  height: 36px;
  background-color: var(--logo-facility);
  border-radius: 10px;
}

.health-logo svg {
  margin-top: 8px;
  margin-left: 6px;
}

.membership-logo {
  width: 36px;
  height: 36px;
  background-color: var(--logo-facility);
  border-radius: 10px;
}

.membership-logo svg {
  margin-top: 8px;
  margin-left: 7px;
}

.card-information {
  width: 186px;
  height: 72px;
}

.card-information h4 {
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 600;
  /*semi bold*/
  color: var(--color-heading);
}

.card-information p {
  margin-top: 8px;
  font-size: 14px;
  font-family: var(--font-typography);
  color: var(--color-typography);
  font-weight: 500;
  /*medium*/
}


/* Packages Style */
#packages {
  max-width: var(--width-1240);
  margin: auto;
  margin-top: 78px;
  margin-bottom: 50px;
}

.packages-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 822px;
  margin: auto;
}

.packages-description h1 {
  font-size: 54px;
  color: var(--color-heading);
  line-height: 140%;
}

.packages-description p {
  font-size: 24px;
  color: var(--color-typography);
  line-height: 150%;
  max-width: 660px;
  margin: auto;
  margin-bottom: 72px;
}

.all-card-packages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 46px 78px;
  height: 1214px;
  width: var(--width-1240);
  margin: auto;
}

.cards {
  width: 360px;
  height: 550px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cards-container {
  height: 550px;
  max-height: 494px;
  margin: 26px 0px 28px 26px;
}

.cards-img {
  width: 312px;
  height: 238px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.packages-top {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-family: var(--font-typography);
  color: var(--color-typography);
}

.top-p {
  color: var(--yellow-500);
  font-weight: 600;
}

.top-span {
  background-color: var(--cards-right);
  border-radius: 20px;
  padding: 10px 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--cards-text);
  font-weight: 600;
}

.packages-bottom {
  margin-top: 20px;
}

.packages-bottom h3 {
  color: var(--color-typography);
  margin-bottom: 10px;
  max-width: 494px;
}

.color-person {
  color: var(--cards-text);
}

.icon-packages {
  display: flex;
  width: 206px;
  height: 36px;
  margin: 20px 0px;
  gap: 20px;
}

.view-detail {
  width: 125px;
  height: 40px;
  border: 2px solid var(--yellow-500);
  color: var(--yellow-500);
  background-color: transparent;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.view-detail:hover {
  background-color: var(--yellow-500);
  color: var(--color-typography);
}

.soon-packages {
  font-family: var(--font-typography);
  color: var(--cards-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;
}

/* Airways Accomodation Style */
#airways-accomodation {
  max-width: var(--width-1240);
  margin: auto;
  overflow: visible;
  margin-bottom: 30px;
}

.accomodation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.accomodation-description {
  display: flex;
  flex-direction: column;
  max-width: 295px;
}

.accomodation-description h1 {
  line-height: 140%;
  font-size: 32px;
  max-width: 254px;
}

.text-description {
  margin-top: 10px;
  line-height: 150%;
  font-size: 24px;
  height: 72px;
}

.accomodation-img {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 81px 0px;
}

.accomodation-img img {
  align-items: center;
  width: 100%;
  height: 78px;
}

.rating {
  width: 165px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  max-width: fit-content;
  background-color: var(--green-100);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--cards-text);
  margin-top: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.icon span {
  font-family: var(--color-typography);
  font-weight: 20px;
}